ion-grid {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-card {

  ion-card-content {
    padding: 10px;

    span {
      color: rgb(255, 255, 255);
      font-size: .7rem;
      margin-right: 3px;
    }

    h1 {
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 1.7rem;
    }

    p {
      font-size: .6rem;
    }

    p + p {
      color: gray;
    }

    .badge-holder {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ion-grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#contact-name {
  margin-top: 1rem;
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

ion-thumbnail {
  width: 210px;
  height: 210px;
  img {
    border-radius: 100%;
  }
}

.badges {
  width: 50px;
  height: 50px;
}

ion-card {
  width: 100vw;
}

.back{
  --background: aliceblue;
}
.border{
  border-style: solid;
  border-color: aliceblue;
  border-radius: 5%;
  margin-top: 10px;
}
