
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      CONTATOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="back">

  <ion-item *ngFor="let contact of contacts" (click)="showInfoModal(contact)" class="border">
    <ion-avatar slot="start">
      <img alt="Profile Picture" [src]="contact.image" />
    </ion-avatar>
    <ion-label class="name">
      {{ contact.name }}
    </ion-label>
    <ion-label slot="end" class="id"> {{ contact.id }}</ion-label>
    <ion-icon slot="end" name="arrow-redo-circle-outline"></ion-icon>
  </ion-item>
  <ion-card *ngIf="contacts.length === 0">
    <ion-card-content>
      <ion-label>Você ainda não tem nenhum contato.</ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>
