
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CONTATOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let contact of contacts" (click)="showInfoModal(contact)">
    <ion-avatar slot="start">
      <img alt="Profile Picture" [src]="contact.image" />
    </ion-avatar>
    <ion-label>
      {{ contact.name }}
    </ion-label>
    <ion-label slot="end"> {{ contact.id }}</ion-label>
    <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
  </ion-item>
  <ion-card *ngIf="contacts.length === 0">
    <ion-card-content>
      <ion-label>Você ainda não tem nenhum contato.</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
